:root {
  --color-background-main: #F7F7F7;
  --color-accent: #6C63FF;
  --color-text-main: #252525;
  --color-background-dark: #252525;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--color-text-main);
  line-height: 1.2;
  height: 100vh;
}

a {
  color: inherit;
}

:root {
  height: 100vh;
}